<div id="dashboard-page">
  <mat-drawer-container class="" autosize>
    <mat-drawer #drawer class="" mode="side">
      <form [formGroup]="userForm">
        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your id application</mat-label>
              <input matInput placeholder="234" [formControl]="userForm.controls.id" required>
            </mat-form-field>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your name application</mat-label>
              <input matInput placeholder="Name" [formControl]="userForm.controls.name" required>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your last version application</mat-label>
              <input matInput placeholder="Name" [formControl]="userForm.controls.version" required>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter compatible OS device</mat-label>
              <input matInput placeholder="Name" [formControl]="userForm.controls.OSType" required>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter minimum required version for OS Device</mat-label>
              <input matInput placeholder="Name" [formControl]="userForm.controls.minimumRequiredVersion" required>
            </mat-form-field>
          </div>
    </form>
      
      <button (click)="addApplication()" mat-raised-button>
        Add new application
      </button>
    </mat-drawer>
    <div class="above-table">
        <button mat-raised-button color="primary" (click)="drawer.toggle()">Add</button>
    </div>
    <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <!-- Name Column -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.applicationName}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Last Version">
              <th mat-header-cell *matHeaderCellDef> Last Version </th>
              <td mat-cell *matCellDef="let element"> {{element.lastVersion[0].version}} </td>
            </ng-container>
        
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    
      <!-- <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div> -->
    
    </mat-drawer-container>
</div>
