#dashboard-page {
    padding: 10px;
    .above-table {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin-bottom: 20px;
    }
    .table-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        table {
            width: 800px;
        }
    }
    ::ng-deep .mat-drawer-container {
        background-color: transparent;
    }

    .example-container {
        // width: 500px;
        // height: 300px;
        // border: 1px solid rgba(0, 0, 0, 0.5);
      }
      
      .example-sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
      
      .example-sidenav {
        padding: 20px;
      }
}