<div id="login-page">
    <div class="wrapper">
        <h1>LOG IN</h1>
        <form [formGroup]="userForm">
            <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" [formControl]="userForm.controls.email" required>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Enter your password</mat-label>
                  <input type="password" matInput placeholder="password" [formControl]="userForm.controls.password" required>
                </mat-form-field>
              </div>
        </form>
        <button mat-raised-button color="primary" (click)="login()">Log in</button>
        <button mat-raised-button color="accent" (click)="goToRegister()">Register</button>
    </div>
</div>
